@page
@model ViewTextModel
@{
    if(Model.ViewedFile != null)
    {
        ViewData["Title"] = $"{@Model.ViewedFile.Title}";
    }
}

@if (Model.ViewedFile != null)
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="display-5">@Model.ViewedFile.Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><pre class="prettyprint">@Model.ViewedFile.Text</pre></td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <a asp-page="List" class="btn btn-primary text-white">Back</a>
        <button asp-page="List" asp-page-handler="Delete" asp-route-FileName="@Model.ViewedFile.Title" class="btn btn-danger col-auto mx-4" onclick="return confirm('Are you sure you want to delete @Model.ViewedFile.Title?')">Delete</button>
    </form>
}

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>